<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head'); %>
    <title>Dashobard</title>
</head>
<body>
    <h1 class="mt-4">Dashborad</h1>
    <p class="lead mb-3">Welcome <%= name %></p>
    <a href="/users/logout"class="btn btn-success">Logout</a>

</body>
</html>